<% provide(:title, "About") %>
<h1>About</h1>
<p>
This is a small social app developed by   <a href="https://www.instagram.com/ranjith.jayaram/">Ranjith Jayaram</a> with reference to the book 
  <a href="http://www.railstutorial.org/book">Rails Tutorial</a>. This app is only for demo. 
</p>