<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me:<br/>
  Whatsapp : +91 9597479189 <br/>
  Instagram :  <a href="https://www.instagram.com/ranjith.jayaram/">Ranjith Jayaram</a><br/>
  Facebook : <a href="https://www.facebook.com/ranjith.jayaram.ceg">Ranjith Jayaram</a>
</p>