<div class="flexslider">
  <ul class="slides">
    <li>
      <%= image_tag("rails.png") %>
    </li>
    <li>
      <img src="save.jpeg" />
    </li>
    <li>
      <img src="save.png" />
    </li>
  </ul>
</div>